header {
  background-color: rgba(215, 243, 250, 0.733);
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}
img {
  height: 150px;
  width: 150px;
}
h1 {
  color: rgb(34, 48, 73);
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  width: 200px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.5s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}

.menu:hover .submenu {
  max-height: 100px;
}

.submenu a {
    font-family:Arial, Helvetica, sans-serif ;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: #f2f2ff;
}

button {
  all: unset;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
  background-color: #025a94;
  color: white;
  height: 50px;
  width: 250px;
  box-shadow: 0 0 5px rgba(148, 225, 255, 0.4);
  transition: box-shadow 0.4 ease;
}
button:hover {
  box-shadow: 0 10px 20px rgba(148, 225, 255, 0.4);
}
h2 {
  color: rgb(24, 23, 100);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: rgb(31, 31, 31);
  font-family: Arial, Helvetica, sans-serif;
}
.tarjeta {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4 ease;
}
.tarjeta:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.boton {
  background-color: #025a94;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.boton:hover {
  background-color: #021553;
  transform: scale(1.1);
}
.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  gap: 20px;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}
