h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}
.tarjeta{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.4 ease;
}
.tarjeta:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}